@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Fraunces&display=swap");

/* font-family: 'DM Sans', sans-serif;
font-family: 'Fraunces', serif; */

*, *:after, *:before {
  box-sizing: border-box;
}

.maxwidth-container {
  max-width: 80rem;
  margin: 0 auto;
}

.blue {
  color: #8fb6ff;
}
.periwinkle {
  color: #635aee;
}
.purple {
  color: #ea9bee;
}
.pink {
  color: #ff90c2;
}
.hotpink {
    color: #FF71B0;
}
.lightpink {
  color: #ffdde4;
}
.tan {
  color: #feecd6;
}
.darkgray {
  color: #22201f;
}
.blue-tag {
  color: #AECAFF;
}
.pink-tag {
  color: #FFBBD9;
}
.purple-tag {
  color: #ECB6EF;
}

html {
  color: #240b00;
  background-color: #feecd6;
}

a {
  text-decoration: none;
  color: #635aee;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fraunces", serif;
}

strong {
  font-weight: bold;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 15%;
  }

.link {
  color: #FF71B0 !important;
  text-decoration: none;
}

#nameplate {
  margin-left: 0.5em;
  color: #8fb6ff;
  text-decoration: none;
  font-weight: 100;
  font-size: 2rem;
  padding: 2rem 3rem 2rem 1rem;
  line-height: 2rem;
  margin: 0em;
}


main {
  position: relative;
  width: 100%;
  margin: 0 auto; 
  padding: 0;
  line-height: 1.3em;
  max-width: 90vw;
}


/* main section {
  flex-basis: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
} */

intro-section {
  flex-basis: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.case-study-section {
  padding: 0 5em;
  max-width: 80rem;
  margin: 0 auto;
}

.section-line {
  width: 100%;
  height: 1px;
  background-color: #FF71B0;
  margin-top: 4em; 
  margin-bottom: 4em; 
}

.section-title,
.section-subtitle,
.section-text,
.section-quote {
  display: block;
  margin-bottom: 2.5em;
}

.section-title {
  letter-spacing: 0.15em;
}

.section-subtitle {
  font-size: 2.5em;
  margin-bottom: 1.2em;
  line-height: 1.3em;
}

.section-quote {
  font-size: 150%;
  line-height: 1.3em;
  text-align: center; 
}

.section-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-image {
  display: block;
  margin-bottom: 1em;
  max-width: 95%;
}

#style-guide {
  margin-top: 1.3em;
}

#figma-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#figma-link .section-subtitle {
  margin-top: 0em;
  margin-bottom: 0em; 
}

.more-projects-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.more-projects-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: calc(33.33% - 20px);
}

.more-projects-section-image {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  border: 3px dashed #8fb6ff;
}

.more-projects-image-title {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}



/* #top-section-line {
  margin-bottom: 2em;
}

#bottom-section-line {
  margin-top: 2em;
} */

/* .section-title-wrapper {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
    position: relative;
}

.section-title {
  font-weight: bold;
  font-size: 150%;
  left: 4em;
  display: inline-block;
  padding: 12px;
  text-align: center;
  border: 3px dashed #ff90c2;
  background-color: #ffdde4;
  color: #22201f;
  position: relative;
}

.section-title-wrapper:after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  border-bottom: 3px dashed #ff90c2;
  top: 50%;
  z-index: -1;
} */

#projects-section {
  padding-top: 5vh;
}

#topbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #8fb6ff;
  margin: 0em;
  padding: 1vh 0vh;
  position: fixed;
  background-color: #ffdde4;
  top: 0;
  z-index: 1;
  /* height: 8vh; */
  height: 4rem;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0rem 2rem 0rem 2rem;
}

#navbar a {
  padding: 1rem;
}

#navbar li {
  list-style-type: none;
  margin-right: 1em;
}


/* 
.skill-type h2 {
  font-weight: bold;
  font-size: 150%;
}

.skills-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skills-icons {
  width: 32px;
  height: auto;
  margin-right: 0.75em;
}

.skill-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
}

.skills-boxes-pink,
.skills-boxes-blue,
.skills-boxes-purple {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 70%;
  margin: 1.75em 0em;
  line-height: 2em;
}

.skills-boxes-pink p {
  display: inline-block;
  border: 1px solid rgba(34, 32, 31, 0.5);
  padding: 0px 10px;
  border-radius: 100px;
  background-color: #FFBBD9;
  color: #22201f;
  font-size: 16px;
  margin: 0.5rem;
  color: rgba(34, 32, 31, 0.75);
}

.skills-boxes-blue p {
  display: inline-block;
  border: 1px solid rgba(34, 32, 31, 0.5);
  padding: 0px 10px;
  border-radius: 100px;
  background-color: #AECAFF;
  color: #22201f;
  font-size: 16px;
  margin: 0.5rem;
  color: rgba(34, 32, 31, 0.75);
}

.skills-boxes-purple p {
  display: inline-block;
  border: 1px solid rgba(34, 32, 31, 0.5);
  padding: 0px 10px;
  border-radius: 100px;
  background-color: #ECB6EF;
  color: #22201f;
  font-size: 16px;
  margin: 0.5rem;
  color: rgba(34, 32, 31, 0.75);
} */

#contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 500px;
  height: auto;
  border: 3px dashed #ff90c2;
  margin: auto;
  object-fit: cover;
  padding: 2em 5%;
}

.letter-image {
  width: 30vw;
  max-width: 100px;
  height: auto;
  margin-right: 15%;
  object-fit: cover;
}


.contact-text {
  width: 70%;
  text-align: center;
  font-weight: bold;
  font-size: 110%;
  line-height: 1.5rem;
}

.icon-container {
  margin-top: 10px;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
}

.about-image {
  flex-basis: 25%;
  flex-shrink: 0;
  flex-grow: 0;
  /* width: 25rem;
  height: 25rem; */
  border-radius: 50%;
  border: 3px dashed #ea9bee;
  margin: 3em 6em 3em 6em;
  object-fit: cover;
  shape-outside: circle();
  /* margin-right: 3em; */
}

.about-text {
  flex-basis: 75%;
  width: 60%;
  min-width: 20%;
  margin-right: 6em;
  font-size: 18px;
}

.about-text h2 {
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 1.5em;
}

.section-content {
  margin: 2em;
  width: 100%;
}

#intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
}

.intro-image {
  max-width: 100%; 
  border-radius: 10px;
  border: 3px dashed #8fb6ff;
}

#intro-information {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2em; 
}

#intro-boxes {
  display: flex;
  flex-direction: column;
  margin-right: 5em; 
}

.intro-box {
  margin-bottom: 2em; 
  font-weight: bold;
  /* right: 1em; */
  display: inline-block;
  padding: 12px;
  text-align: left;
  border: 3px dashed #AECAFF;
  background-color: #CADDFF;
  color: #22201f;
  position: relative;
  max-width: 30vw;
  overflow-wrap: break-word;
}

#skills {
  /* justify-content: space-between; */
  /* align-content: space-between; */
  flex-direction: column;
}

.skills-icons {
  width: 32px;
  height: auto;
  margin-right: 0.75em;
}

.skill-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  margin-bottom: 0.5em;
}

.skills-boxes-pink,
.skills-boxes-blue,
.skills-boxes-purple {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  margin-left: 0.75em;
  width: auto;
  max-width: 40vw;
  flex-direction: row;
}

.skills-boxes-pink p {
  display: inline-block;
  border: 1px solid rgba(34, 32, 31, 0.5);
  padding: 0px 10px;
  border-radius: 100px;
  background-color: #FFBBD9;
  color: #22201f;
  font-size: 16px;
  margin: 0.5rem;
  color: rgba(34, 32, 31, 0.75);
}

.skills-boxes-blue p {
  display: inline-block;
  border: 1px solid rgba(34, 32, 31, 0.5);
  padding: 0px 10px;
  border-radius: 100px;
  background-color: #AECAFF;
  color: #22201f;
  font-size: 16px;
  margin: 0.5rem;
  color: rgba(34, 32, 31, 0.75);
}

.skills-boxes-purple p {
  display: inline-block;
  border: 1px solid rgba(34, 32, 31, 0.5);
  padding: 0px 10px;
  border-radius: 100px;
  background-color: #ECB6EF;
  color: #22201f;
  font-size: 16px;
  margin: 0.5rem;
  color: rgba(34, 32, 31, 0.75);
}




.project-item h3 {
  margin-top: 0.7em;
  font-weight: bold;
  font-size: 120%;
}

.project-item p {
  margin-top: 0.7em;
}

.project-blue {
  border: 3px dashed #8fb6ff;
}

.project-pink {
  border: 3px dashed #ff90c2;
}

.project-purple {
  border: 3px dashed #ea9bee;
}

.project-periwinkle {
  border: 3px dashed #635aee;
}

.project-card-image-big {
  width: 40vw;
  height: 50vh;
  min-width: 35em;
  border-radius: 10px;
  margin: 0;
  object-fit: cover;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.project-card-image-small {
  width: 40vw;
  height: 50vh;
  min-width: 35em;
  border-radius: 10px;
  margin: 0;
  object-fit: cover;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.small-tags-width {
  max-width: 40vw;
}

.big-tags-width {
  max-width: 40vw;
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-pink p {
  display: inline-block;
  border: 1px solid rgba(34, 32, 31, 0.5);
  padding: 0px 10px;
  border-radius: 100px;
  background-color: #FFBBD9;
  color: #22201f;
  font-size: 16px;
  margin-right: 0.5em;
  line-height: 1.3em;
  color: rgba(34, 32, 31, 0.75);
}

.tag-blue p {
  display: inline-block;
  border: 1px solid rgba(34, 32, 31, 0.5);
  padding: 0px 10px;
  border-radius: 100px;
  background-color: #AECAFF;
  color: #22201f;
  font-size: 16px;
  margin-right: 0.5em;
  line-height: 1.3em;
  color: rgba(34, 32, 31, 0.75);
}

.tag-purple p {
  display: inline-block;
  border: 1px solid rgba(34, 32, 31, 0.5);
  padding: 0px 10px;
  border-radius: 100px;
  background-color: #ECB6EF;
  color: #22201f;
  font-size: 16px;
  margin-right: 0.5em;
  line-height: 1.3em;
  color: rgba(34, 32, 31, 0.75);
}

.icon-container {
  display: flex;
  justify-content: center;
  margin: 10px 16px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #8fb6ff;
  width: 95%;
  text-decoration-color: #8fb6ff;
  margin-top: 3em;
}



@media only screen and (min-width: 50.01em) {

button {
  display: none;
  }

}


/* mobile styles */
@media only screen and (min-width: 0) and (max-width: 50em) {
  #topbar {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  /* #navbar ul {
    display: none;
  } */

  #navbar ul {
    height: 100vh;
    padding: 2em 1em 1em 1em;
    /* background-color: rgba(99, 90, 238, 0.9);
    border: 1px solid #ffdde4; */
    background-color: #ffdde4;
    border: 1px solid #8fb6ff; 
    transform: translateX(100vw);
    transition: transform .3s ease-in; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5em 0em;
  }

  #navbar.menu-opened ul {
    transform: translateX(25vw);
  }

  #navbar ul li {
    line-height: 1.5;
    font-size: 200%;
    margin: 0em 1em 1.5em;
  }

  #navbar ul li a {
    line-height: 1.5;
    /* color: #ffdde4; */
    color: #635aee;
    /* font-family: 'Fraunces', serif; */
  }

  button {
    position: absolute;
    top: 0;
    right: .5em;
    padding: 20px 20px;
    background-color: transparent;
    border: none;
    z-index: 1;
  }

  button:hover {
    cursor: pointer;
  }

  /* [class^=line-] {
    padding: 3px;
    border-top: 2px solid black;
  } */

  .line-burger {
    width: 36px;
    padding: 4px;
    border-top: 2px solid #635aee;
  }

  #navbar.menu-opened #hamburger .line-burger:nth-child(1) {
    transform: rotate(0deg); 
    transition: transform 0.3s ease-in-out; 
  }
  
  #navbar.menu-opened #hamburger .line-burger:nth-child(2) {
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
  }
  
  #navbar.menu-opened #hamburger .line-burger:nth-child(3) {
    transform: rotate(0deg); 
    transition: transform 0.3s ease-in-out; 
  }
  
  #navbar.menu-opened #hamburger .line-burger:nth-child(1).animate {
    transform: rotate(45deg) translate(15px, 3px); 
  }
  
  #navbar.menu-opened #hamburger .line-burger:nth-child(3).animate {
    transform: rotate(-45deg) translate(15px, 4px); 
  }
  

  #intro-information {
    flex-direction: column;
  }


  .intro-box {
    color: #22201f;
    position: relative;
    min-width: 90%;
    max-width: 90%;
    margin-left: auto; 
    margin-right: auto; 
  }

  #intro-boxes {
    display: flex;
    flex-direction: column;
    margin-right: 0em; 
  }

  #intro-text {
    width: 80%;
    margin: 2em;
  }


  #me-greeting {
    width: 60%;
    margin: 1em;
  }

  #intro-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4em 0em 0em;
    line-height: 1.3em;
  }

  .section-content {
    margin: 4em 0em;
    width: 100%;
  }

  .page-title {
    display: inline-block;
    padding: 12px;
    text-align: center;
    border: 3px dashed #ff90c2;
    background-color: #ffdde4;
    color: #22201f;
    position: relative;
    margin: auto;
    width: 50%;
    /* margin-left: 20%; */
  }

  .page-title:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    border-bottom: 3px dashed #ff90c2;
    top: 50%;
    z-index: -1;
    left: 50%;
    margin-left: -50vw;
  }

  .project-card-image-big {
    width: 80vw;
    height: 50vh;
    min-width: 80vw;
    border-radius: 10px;
    margin: 0;
    object-fit: cover;
  }

  .project-card-image-small {
    width: 80vw;
    height: 50vh;
    min-width: 80vw;
    border-radius: 10px;
    margin: 0;
    object-fit: cover;
  }

  .project-description {
    max-width: 80vw;
  }

  .small-tags-width {
    max-width: 80vw;
  }

  .big-tags-width {
    max-width: 80vw;
  }

  #methods {
    margin-top: 5em;
  }

  .skill-type {
    margin-top: 2em;
    flex-direction: column;
    align-items: center;
  }

  .skills-boxes-pink,
  .skills-boxes-blue,
  .skills-boxes-purple {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 90%;
    margin: 1.75em 0em;
  }

  .case-study-section {
    padding: 0 2em;
  }

  .more-projects-image-container {
    flex-direction: column; 
    align-items: center; 
  }
  
  .more-projects-image-wrapper {
    width: 95%; 
  }

  .contact-box {
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
  }

  .letter-image {
    margin: 1em 0;
  }
}